.App {
  text-align: center;
}



/* TODO List component */
.items-list ul {
  list-style: none;
  padding-left: 0;
}

.items-list .done label {
  text-decoration: line-through;
  color: grey;
}

.items-list #add-task {
  margin-left: 5px;
}

.items-list li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-list .hover {
  color: grey;
  visibility: hidden;
  cursor: pointer;
  /* margin-left: 50px; */
}

.items-list li:hover {
  border-radius: 5px;
  background-color: rgb(166, 203, 245);
}

.items-list li:hover .hover {
  visibility: visible;
}

.todo-list {
  max-width: 400px;
  text-align: left;
}